.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    flex: 1 0 30%;
    max-width: 30%;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        transform: scale(1.05);
    }

    h2 {
        font-size: 1.2em;
        margin: 10px 0;
        font-weight: bold;
    }

    p {
        margin: 5px 0;
    }

    a {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
            background-color: #0056b3;
        }
    }
}

.occupied {
    background-color: #f8d7da;
    color: #721c24;
}

.vacant {
    background-color: #d4edda;
    color: #155724;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 20px;
    margin-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    a {
        margin: 0 5px;
        padding: 10px 15px;
        text-decoration: none;
        color: #333;
        border: 1px solid #ddd;
        border-radius: 5px;

        &.active {
            background-color: #007bff;
            color: white;
            border: 1px solid #007bff;
        }

        &:hover:not(.active) {
            background-color: #ddd;
        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 500px;
        border-radius: 10px;

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;

            &:hover, &:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        }

        input, select {
            margin-bottom: 10px;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.2s;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}